/* CSS */
:root {
  --f7-theme-color: #03243F;
  --f7-theme-color-shade: #053863;
  --f7-theme-color-tint: #0C81E0;
  --f7-theme-color-rgb: 5, 56, 99;

  --f7-navbar-bg-color: var(--f7-theme-color);
  --f7-navbar-link-color: #ffffff;
  --f7-navbar-text-color: #ffffff;

  --f7-toolbar-bg-color: var(--f7-theme-color);
  --f7-toolbar-text-color: #ffffff;
  --f7-toolbar-link-color: #ffffff;

  --f7-statusbar-bg-color: var(--f7-theme-color);

  --f7-picker-inline-height: 150px;
  --f7-picker-landscape-height: 150px;
  --f7-picker-item-height: 36px;
}

.ios {
  --f7-picker-column-font-size: 18px;
}

.md {
  --f7-picker-column-font-size: 18px;
}

.statusbar {
  background: var(--f7-theme-color);
}

.card-header {
  background-color: lightgrey !important;
}

.navbar,
.navbar a,
.navbar i {
  color: #ffffff !important;
}

.toolbar-top {
  top: 0 !important;
}

.alert {
  position: relative;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  padding: 6px;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.center {
  text-align: center;
}
